#boycottToolbarButton {
	list-style-image: url("chrome://boycottplus/skin/icon20.png");
}

#boycottToolbarButton:hover {
	list-style-image: url("chrome://boycottplus/skin/icon20.png");
}

toolbar[iconsize="small"] #boycottToolbarButton {
	list-style-image: url("chrome://boycottplus/skin/icon16.png");
}

toolbar[iconsize="small"] #boycottToolbarButton:hover {
	list-style-image: url("chrome://boycottplus/skin/icon16.png");
}

#boycottToolbarDisplayManager {
	-moz-box-flex: 1;
	-moz-binding: url("chrome://boycottplus/content/widgets/manager.xbl#manager");
}

.boycottToolbarBody {
    width: 450px;
}

.boycottToolbarBody * {
    list-style-image: none;
}

.boycottCenteredBox {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
