.boycottImage {
    height: 32px;
    width: 32px;
    margin: 20px 10px 10px 18px;
}

.boycottBarlet {
    margin: 4px 0 4px 0;
}

.boycottBarletContainer {
    margin: 12px 0 12px 5px;
}

.boycottBar li {
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
}

.boycottBar ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
