.boycottPopupVisible {
    visibility: visible;
    
    position: fixed;
    height: 100px;
    width: 150px;
    bottom: 2px;
    right: 2px;
    background: red;
    
    -moz-transition: all ease-in-out 200ms;
}

.boycottPopupHidden {
    visibility: visible; /*make it hidden later, or remove visibility*/
    
    position: fixed;
    height: 100px;
    width: 150px;
    bottom: -100px;
    right: 2px;
    
    background: red;
    
    -moz-transition: all ease-in-out 200ms;
}

/*#boycottBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
    background-color: red;
    padding: 7px;
}

#boycottIcon {
    height: 48px;
    width: 48px;
    float: left;
    
    margin: 10px 10px 5px 5px;
    background-image: url('chrome://boycottplus/skin/icon48.png');
}

#boycottText {
    display: inline-block;
    padding: 5px;
    font-size: 14px;
}*/