.boycottImage {
    height: 32px;
    width: 32px;
    margin: 20px 10px 10px 10px;
}

.boycottBarlet {
    margin: 0px 0 0px 0;
}

.boycottBarletContainer {
    margin: 10px 0 10px 5px;
    -moz-box-flex: 1;
}

.boycottBar {
    background: #ECEDEE;
    color: #444;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.boycottBar li {
    margin: 0 0 0 10px;
    padding: 0 0 0 0;
    font-weight: normal;
    line-height: 20px;
}

.boycottBar ul {
    margin: 5px 0 0 5px;
    padding: 0 0 0 1em;
}

.boycottCloseContainer {
}

.boycottClose {
    width: 15px;
    height: 15px;
    margin: 7px 7px 0 0;
	border-radius: 2px;
	background-color: #000;
	padding: 3px;
}

.redBullet {
	width: 16px;
	height: 16px;
	background-image: url('chrome://boycottplus/skin/bullet_red.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.yellowBullet {
	width: 16px;
	height: 16px;
	background-image: url('chrome://boycottplus/skin/bullet_yellow.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.blackBullet {
	width: 16px;
	height: 16px;
	background-image: url('chrome://boycottplus/skin/bullet_black.png');
	background-position: center center;
	background-repeat: no-repeat;
}

row.selected {
	background-color: #666;
}